/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: Raleway, "Helvetica Neue", Helvetica, "Comic Sans", sans-serif !important;
  font-weight: 300;
  color: #333;
}

#jumbotop {
	background: #036;
	color: #fff;
	border-bottom: 5px solid #369;
	height: 400px;
}

#jumbotop div.container {
	position: relative;
}

#jumbotop h1 a {
	display: block;
	width: 600px;
	height: 100px;
	text-decoration: none;
	position: absolute;
	top: 175px;
	left: 0px;
}

#tagline {
  font-family: "Helvetica Neue", Helvetica, "Comic Sans", sans-serif !important;
  position: absolute;
  top: 260px;
  left: 100px;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.blog-sidebar {
	font-family: "Helvetica Neue", Helvetica, "Comic Sans", sans-serif;
}

.blog-sidebar div.col-sm-6 {
	margin-bottom: 30px;
}

#sections {
	font-family: Raleway, "Helvetica Neue", Helvetica, "Comic Sans", sans-serif !important;
	font-weight: 300;
	font-size: 2em;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.blog-post p {
	margin-bottom: 20px;
}

.blog-post h3 {
	margin-bottom: 20px;
	font-size: 1.5em;
}

.blog-post .well {
	font-family: "Helvetica Neue", Helvetica, "Comic Sans", sans-serif;
	font-size: .75em;
	margin-top: 40px;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}